.d-none { display: none!important;}
.flex {    display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
#map {min-width: 100%; height: 500px;}

.calculate-wrap-form, .calculate-from_bottom-wrap {
    background: #fff;
}
.calculate-center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center   
}




.calculate-from_top {
    padding-bottom: 40px;
    width: 100%;
    padding-left: 98px;
    padding-right: 98px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    -webkit-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    transform: translateY(-35px);
}

.calculate-from-position {
    padding: 8px 8px;
    margin-bottom: 45px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background-color: #ffae00;
    -webkit-border-radius: 36px;
    border-radius: 36px;

}

.calculate-from-position__from, .calculate-from-position__to {
    padding: 10px 10px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    background-color: #ffffff;
}

.calculate-from-position__from:before,
.calculate-from-position__to:before {
    margin-right: 20px;
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/calculate-icon-1.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#mapTo, #mapFrom {
    padding-right: 120px;
    font-size: 16px;
    font-weight: 300;
    border: none;
    margin: unset;
    padding: unset;
}

.calculate-from-data {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.calculate-from-data-two__text {
    position: relative;
    opacity: 0.56;
    color: #000000;
    font-size: 13px;
    font-weight: 300;
}

.calculate-from-data-one > label {
    padding-bottom: 20px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
        margin: 0;
    padding: 0;
}

.calculate-from-data-one input[type=number] {
    height: 72px;
    padding-left: 24px;
    color: #2e3191;
    width: 156px;
    font-size: 42px;
    font-weight: 300;
    border: 1px solid #d8d9dc;
}

.calculate-from-data-one__size {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.calculate-from-data-two{
	padding-top: 30px;
    flex-direction: column;
    align-content: center;
    align-items: center;

}

.calculate-from-data-two-button .big-button {
    padding-right: 70px;
    position: relative;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    background-color: #2e3191;
    border: none;
}

.calculate-from-data-two-button .big-button:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 57px;
    height: 100%;
    background: url(../img/icon-ru.png) center no-repeat;
    -webkit-background-size: fill fill;
    background-size: fill;
}

.calculate-from-data-two-button .big-button:after {
    content: '';
    display: block;
    margin-left: 12px;
    width: 20px;
    height: 17px;
    background: url(../img/calculate-arrow.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.calculate-from-data-two__text:after {
    margin-left: 5px;
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    background: url(../img/calc-info.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.calculate-from-detailed__title {
    background-color: #fff;
    padding-bottom: 30px;
    text-align: center;
    color: #292d95;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
    margin-bottom: -1px;
    z-index: 1;
}

.calculate-from-detailed__title:after {
    content: '';
    display: block;
    margin-left: 11px;
    width: 8px;
    height: 4px;
    background: url(../img/arrow.png) center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.calculate-from_bottom-wrap {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    -webkit-box-shadow: 0px 0px 25px 5px rgb(0 0 0 / 19%);
    box-shadow: 0px 0px 25px 5px rgb(0 0 0 / 19%);
}
.calc-col-1 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}
.calc-col-2 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
}
.calc-col-3 {
    -ms-flex-preferred-size: 33%;
    -webkit-flex-basis: 33%;
    flex-basis: 33%;
}

.calculate-from-detailed-block {
    -webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
    padding: 0px 40px 40px 40px;

}

.calculate-from-detailed-block__price {
    height: 17px;
    margin-bottom: 38px;
    padding-top: 20px;
    color: #2e3191;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.calculate-from-detailed-block__check p {
    margin-left: 18px;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.squaredFour {
    position: relative;
    width: 20px;
    height: 20px;
}

.calculate-from-detailed__title {
    background-color: #fff;
    padding-bottom: 30px;
    text-align: center;
    color: #292d95;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: -1px;
    z-index: 1;
}


.squaredFour label:before, .squaredFive label:before, .squaredSix label:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 24px;
    background-color: transparent;
    top: -24px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0.5;
}
.squaredFour label:after, .squaredFive label:after, .squaredSix label:after {
    content: '';
    width: 12px;
    height: 8px;
    top: 2px;
    left: 2px;
    position: absolute;
    border: 2px solid #333;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(
-45deg
);
    -ms-transform: rotate(-45deg);
    transform: rotate(
-45deg
);
}

.calculate-from-detailed-block-total {
    margin-bottom: 30px;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
}


.calculate-from-detailed-block-list-item {
    margin-bottom: 10px;
    position: relative;
}

.calculate-from-detailed-block-list-item label {
    display: block;
    padding: 8px 24px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #2e3191;
    color: #2e3191;
    font-size: 13px;
    font-weight: 300;
    background-color: #ffffff;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  
}

button.tooltip-btn {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 17px;
    height: 17px;
    line-height: 17px;
    border: none;
    background: #ececf0;
    color: #2e3191;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    padding: 0;
    font-size: 11px;
}


.calculate-from-detailed-block.calculate-disabled {
    pointer-events: none !important;
}

.calculate-from-detailed-block-total__floor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.calculate-from-detailed-block-total select {
    margin-top: 12px;
    padding-left: 24px;
    width: 80px;
    height: 56px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d8d9dc;
    background-color: #ffffff;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.calculate-from-detailed-block__check {
    padding-bottom: 26px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.calculate-from-detailed-block-list-item input[type=radio] {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;

}


.calculate-from-data-one label {
    padding-bottom: 20px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.calculate-from-detailed-block-list {
    width: 190px;
}

.calculate-from-detailed-block__price span {
    text-decoration: line-through;
}

.calculate-from-detailed-block-list-item {
    margin-bottom: 10px;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}


.calculate-from-detailed-block-list-item > input[type=radio] {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    margin: 0;
}


.calculate-from-detailed-block-list-item > input[type=radio] + label {
    display: block;
    padding: 8px 24px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #2e3191;
    color: #2e3191;
    font-size: 13px;
    font-weight: 300;
    background-color: #ffffff;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    margin: 0;
    margin-bottom: 10px;
}

.calculate-from-detailed-block-list-item label:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: transparent;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.calculate-disabled {
    background-color: #ececf0;
}

button.tooltip-btn {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 17px;
    height: 17px;
    line-height: 17px;
    border: none;
    background: #ececf0;
    color: #2e3191;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    padding: 0;
    font-size: 11px;
}



.chk-label > label {
    border: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}

.chk-label > label > input{
    width: 12px;
    height: 12px;
    position: unset;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#close-modal{
    float: right;
}

.tcw-form > div > label {
    display: block;
    margin-bottom: 1px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #484545;
}
.tcw-form > div > input {
border-radius: 0.5em;
    border: solid 1px #bdb8b8;
    background: #f5f3f3;
width: 100%;
}
.tcw-form > label > input[type=checkbox] {
   width: 17px;
   height: 17px;  
}
   
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
}

.tcw-form > div {
    margin-bottom: 5px;

}


/*Media*/
@media (max-width: 991px){
.calculate-from-position {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: transparent;
}

.calculate-from-position__from, .calculate-from-position__to {
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 0px 7px #ffae00;
    box-shadow: 0px 0px 0px 7px #ffae00;
}
.calculate-from-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        flex-direction: column;
    -webkit-box-align: center;
        align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.calculate-from_bottom-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
}
